<h1>Search Results</h1>
  <% res =  Amazon::Ecs.item_search('ruby', :search_index => 'All')  %>
  <% res.items.each do |item| %>
    <p><%= item.get('ASIN') %></p>
  <p><%= item.get('ItemAttributes/Title') %></p>
  <% end %>