<h1>Search Results</h1>
  <% @books.each do |book| %>
  <p><%= book.title %> by <%= book.authors %></p>
  <p>ISBN: <%= book.isbn %></p>
  <button id="add" type="submit">Add to favourites</button>
  <% end %>
