<h1>Sign Up</h1>

<% if @user.errors %>
<ul>
<% @user.errors.each do |e| %>
  <li><%= e %></li>
<% end %>
</ul>
<% end %>

<form action='/signup' method='post'>

  <label for='1'>First Name</label>
  <input id='1' type='text' name='first_name'/>

  <label for='2'>Last Name</label>
  <input id='2' type='text' name='last_name'/>

  <label for='3'>Email</label>
  <input id='3' type='text' name='email'/>

  <label for='4'>Password</label>
  <input id='4' type='text' name='password'/>

  <label for='5'>Password Confirmation</label>
  <input id='5' type='text' name='password_confirmation'/>

  <input type="submit" value="Sign Up"/>

</form>


